<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Agregar producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content class="ion-no-padding">
      <form [formGroup]="addForm" (ngSubmit)="add()">
        <ion-list lines="full">
          <ion-item>
            <ion-icon color="primary" slot="start" name="cube"></ion-icon>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input type="text" placeholder="Ingresar aquí" formControlName="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon color="primary" slot="start" name="cash"></ion-icon>
            <ion-label position="stacked">Precio</ion-label>
            <ion-input type="number" placeholder="Ingresar aquí" formControlName="price"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon color="primary" slot="start" name="text"></ion-icon>
            <ion-label position="stacked">Descripción</ion-label>
            <ion-textarea type="text" placeholder="Ingresar aquí" formControlName="description"></ion-textarea>
          </ion-item>
          <ion-item lines="none">
            <ion-label>
              <ion-button [disabled]="!addForm.valid" expand="block" type="submit">
                <ion-icon slot="start" name="add"></ion-icon>
                Agregar
              </ion-button>
            </ion-label>
          </ion-item>
          
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
